<h2>My Avatars</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let avatar of avatars">
    <mat-expansion-panel-header (click)="onSelect(avatar)" [class.selected]="avatar == selectedAvatar">
      <mat-panel-title >
        {{avatar.name}}
      </mat-panel-title>
  
    </mat-expansion-panel-header>

    <div class="panel-content">
       <!--calls another component called avatardetails to lighten this components load! it also prmotes reusable code
        and less errors-->

    <app-avatar-detail [avatar]="selectedAvatar"></app-avatar-detail>
    </div>
  </mat-expansion-panel>
  <mat-accordion>